<% if @path.nil? %>
<% else %>
  <% if @path.exists? %>
    <p>A path exists!</p>
    <% @path.each do |flight| %>
      <%= flight.departing_airport[:code] %>
      <br>
      <%= flight.arriving_airport[:code] %>
      <br>
      <%= ActiveSupport::Duration.build(flight.duration).inspect %>
      <br>
      <%= flight.start_datetime.utc.strftime('%m/%d/%Y %H:%M %p') %>
      <br>
    <% end %>
    
  <% else %>
    <p>NO path exists!</p>
  <% end %>
<% end %>
